CDSE_CLIENT_ID=your_client_id
CDSE_CLIENT_SECRET=your_client_secret
AOI_FILE=serbia_aoi.geojson
DAYS_BACK=1
MAX_CLOUD_COVER=20
MIN_TIFF_BYTES=50000
FALLBACK_DAYS_BACK=7
FALLBACK_MAX_CLOUD=80
RESOLUTION_M=10
MAX_PIXELS=2500
OUTPUT_DIR=data
OUTPUT_FILENAME=ndvi_latest.tif
OUTPUT_FILENAME_NDMI=ndmi_latest.tif
OUTPUT_FILENAME_NDRE=ndre_latest.tif
OUTPUT_FILENAME_EVI=evi_latest.tif
# Local:
# GEOSERVER_URL=http://localhost:8083/geoserver
# Docker (compose):
GEOSERVER_URL=http://geoserver:8080/geoserver
GEOSERVER_USER=admin
GEOSERVER_PASSWORD=geoserver
GEOSERVER_WORKSPACE=moj_projekat
GEOSERVER_STORE=ndvi_srbija
GEOSERVER_LAYER=ndvi_srbija
GEOSERVER_STYLE=ndvi_srbija_style
GEOSERVER_INDEX_STYLE=raster
GEOSERVER_NDMI_STORE=ndmi_srbija
GEOSERVER_NDMI_LAYER=ndmi_srbija
GEOSERVER_NDMI_STYLE=raster
GEOSERVER_NDRE_STORE=ndre_srbija
GEOSERVER_NDRE_LAYER=ndre_srbija
GEOSERVER_NDRE_STYLE=raster
GEOSERVER_EVI_STORE=evi_srbija
GEOSERVER_EVI_LAYER=evi_srbija
GEOSERVER_EVI_STYLE=raster
GEOSERVER_DROUGHT_STORE=drought_zones
GEOSERVER_DROUGHT_LAYER=drought_zones
GEOSERVER_DROUGHT_STYLE=raster
OUTPUT_FILENAME_DROUGHT=drought_zones_latest.tif
KATOP_NAME=ZEMUN POLJE
ANALYSIS_WIDTH=1200
ANALYSIS_HEIGHT=1200
